*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li , a {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: 500;
font-size: 16px;
color: #edf0f1;
text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
    width: 100px;
    height: 60px;
    margin-right: auto;
}

.name{
    cursor: pointer;
    color:whitesmoke ;
    display: inline-block;
    text-align: left;
    margin-left:100px;
    padding: 5px 25px;  
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: #0088a9;
}

#drama{
    text-align: center;
    color: beige;
}

.drama{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 250px;
    justify-content: space-around;
}


#house-of-gucci {
    width: 120px;
    height: 170px;
    margin: 20px;
    text-align: center;
}

#Cruella{
    width: 120px;
    height: 170px;
    margin: 20px;
    text-align: center;
}

#The-Founder{
    width: 120px;
    height: 170px;
    margin: 20px;
    text-align: center;
}

#animation{
    text-align: center;
    color: beige;
}

.animation{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 220px;
    justify-content: space-around;
}

#Minions{    
    width: 120px;
    height: 170px;
    margin: 20px;
    text-align: center;
}

#The-Lorax{    
    width: 120px;
    height: 170px;
    margin: 20px;
    text-align: center;
}

#Lilo-Stitch{
    width: 120px;
    height: 170px;
    margin: 20px;
    text-align: center;
}

#action{
    text-align: center;
    color: beige;  
}
.action{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 220px;
    justify-content: space-around;
}

#No-Time-to-Die{
    width: 120px;
    height: 170px;
    margin: 20px;
    text-align: center;
}

#Furious-7{
    width: 120px;
    height: 170px;
    margin: 20px;
    text-align: center;
}

h4{
    color: #edf0f1;
}

footer{
    height: auto;
    width: 100vw;
    padding-top: 40px;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 9px 25px;
}

button{
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}

.all{
box-shadow: 1px 2px 5px gray;
border: 4px solid #0088a9 ;
cursor:grab;
}

.img{
  width: 95px; 
  height: 123px;
}

body{
    background: rgb(68,67,67);
    background: linear-gradient(0deg, rgba(68,67,67,1) 0%, rgba(23,23,23,1) 100%);
}
